.content-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-404 {
    color: #fff;
    border-bottom: 29px solid white;
}

.title-404 > h1 {
    font-size: 143px;
}

.desc-404 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

.middle {
    margin: 40px 10px;
}

.buttons > ul {
    display: flex;
}

.buttons > ul > li {
    display: flex;
    margin: 20px;
    color: #fff;
}

.buttons > ul > li > a {
    background-color: #fff;
    padding: 10px 30px;
    color: #000;
}