/* RESET */
*, p, div, nav, aside, section, h1, h2, h3, h4, h5, a {
    padding: 0;
    margin: 0;
    font-weight: initial;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
    outline: none;
}

:root {
    --corBackgroundPrimario: #dd3333;
    --corBackgroundSecundario: #fff;
    --corTextoPrimaria: #fff;
    --corTextoSecundaria: #000;
}

::-webkit-input-placeholder {
    color: #000;
 }

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
    /* background-color: #DDD; */
    /* layout com o sidebar */
}

.nosidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 37px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    height: 100vh;
    margin: 0;
    background-color: #DDD;
    /* layout sem o sidebar */
}

.header {
    display: flex;
    position: fixed;
    left: 253px;
    align-items: center;
    background-color: #4b5ec9;
    grid-area: header;
    width: calc(100% - 253px);
    height: 64.5px;
    z-index:  9;
}

.containertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topbar_arealeft {
    display: flex;
    align-items: center;
}

.topbar_icon {
    cursor: pointer;
    margin-right: 40px;
    z-index: 9;
    /* icon do menu */
}

.mm_menu {
    background-color: #fff;
    width: 35px;
    height: 5px;
    border-radius: 10px;
    margin: 5px;
}

.topbar_arearight {
    display: flex;
    align-items: center;
}

.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 40px;
}

/* AREA ICONE NOTIFICAÇÃO */
.icon_not {
    background-image: url('../svg/notification.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 40px;
    cursor: pointer;
    /* icon de notificação */
}

.icon_area {
    position: relative;
}

.not_open {
    display: none;
    position: absolute;
    top: 37px;
    right: 6px;
    width: 400px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.not_items {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
}

.not_items > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.835em;
    color: #525252;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* AREA ICONE USUÁRIO E NOME */
.icon_user {
    display: flex;
    align-items: center;
    /* icon do usuário */
}

.icon_user > img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
}

.username > h3 {
    margin: 0;
    font-size: 1em;
    color: #fff;
    
}

/* AREA ICONE CONFIGURAÇÃO */
.icon_conf {
    background-image: url('../svg/config.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 20px;
    cursor: pointer;
    /* icon de configuração */
}

.conf_area {
    position: relative;
}

.conf_open {
    display: none;
    position: absolute;
    top: 37px;
    right: 6px;
    width: 100px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.conf_items {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
}

.conf_items:hover {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .1);
}  

.conf_items > a {
    display: flex;
    align-items: center;
    font-size: 0.835em;
    color: #525252;
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.conf_items > a > img {
    margin-right: 8px;
}


/* ASIDE ESQUERDO */

.aside {
    display: block;
    position: fixed;
    height: 100%;
    background-color: #263035;
    width: 253px;
    grid-area: sidebar;
    z-index: 9;
}

.title {
    background-color: #4352a7;
    padding: 19px;
}

.title > h2 {
    padding: 0;
    margin-bottom: 2.5px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bolder;
    color: #fff;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 8px;
}

.icone > .icon_user > img {
    width: 62px;
    height: 60px;
    border-radius: 50px;
}

.content {
    margin-left: 10px;
}

.status {
    display: flex;
    align-items: center;
    margin-top: 3px;
    padding: 0;
}

.status > span {
    font-size: 0.875em;
    color: #fff;
    margin-left: 10px;
    padding: 0px;
    margin-left: 5px;
}

.status > img {
    width: 14px;
    height: 13px;
}

/* FORM DE BUSCA */
.busca {
    display: flex;
    justify-content: flex-start;
    margin: 10px 20px;
    border-radius: 10px;
}

.busca > form {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.busca > form > input {
    border: none;
    height: 48px;
    width: 178px;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000;
}

.busca > form > button {
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 48px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

/* BARRA 'NAVEGAÇÃO' */
.bar {
    display: flex;
    align-items: center;
    background-color: #1F262A;
    height: 36px;
    margin-top: 15px;
}

.bar > h4 {
    padding-left: 20px;
    font-size: 0.75em;
    color: #fff;
}

/* NAVEGAÇÃO */
.nav {
    display: block !important;
}

.nav-item {
    display: flex !important;
    align-items: center; 
    padding-top: 14px;
    padding-bottom: 14px; 
    padding-left: 40px;
    position: relative;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, .16);
    color: #fff !important;
}

.nav-item > a {
    display: flex;
    align-items: center;
    font-size: 0.875em;
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-item > a > i {
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: #fff;
}

/* MENU DROPDOWN */
#painel > span {
    padding-right: 4px;
}

#painel:hover {
    cursor: pointer;
}

.nav-open {
    display: none;
    position: absolute;
    top: 52px;
    right: 2px;  
    width: 221px;
}

.nav-open > li > a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.875em;
}

.nav-open > li > a > i {
    padding-right: 10px;
}

/* CONTENT */

.conteudo {
    grid-area: content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 20px;
    background-color: #fff;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon > img {
    margin-left: 10px;
    cursor: pointer;
}

#adduser, #addteam {
    margin-bottom: 20px;
}

#filtertask {
    margin-bottom: 20px;
}

/* FOOTER */
.footer {
    grid-area: footer;
}

.copyright {
    text-align: center;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
}

.form-div {
    margin-top: 25px;
    width: 660px;
    max-width: 700px;
}
   
#tabela, #table-infos-task {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
   
#tabela td,
#tabela > thead > th {
    font-size: 0.92em;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}
   
#tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}
   
#tabela tr:hover {
    background-color: rgba(221, 221, 221, 0.644);
}
   
#tabela th {
    font-size: 0.92em;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1d241d;
    color: white;
}
   
.button, #edituser, .page {
    cursor: pointer;
}

.btn {
    font-size: 0.92em;
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pages {
    display: flex;
    margin-left: 10px;
}

.infos-pages {
    margin-right: 11px;
}

.page {
    margin: 0px 4px;
}

.modal-infos {
    display: none;
    width: 100vw;
    height: 105vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2000;
}

.container-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding:  16px 17px;
    position: relative;
}

.infostask-table {
    border: 1px solid #c2c2c2;
    border-collapse: collapse;
}

.infostask-table td, .infostask-table th {
    padding: 2px;
    border: 1px solid #c2c2c2;
    word-break: break-word;
}

.close-infos {
    width: 50px;
    height: 50px;
    background-image: url('../svg/fechar.svg');
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -23px;
    right: -23px;
    border-radius: 50px;
    cursor: pointer;
}

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.header-modal > ul {
    display: flex;

}

.header-modal > button {
    width: 175px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #484545;
}

.header-modal > ul > li {
    padding: 10px;
}

/*CSS para impressão*/
@media print {
    .aside {
        visibility: hidden;
    }

    .header {
        visibility: hidden;
    }
}